__pycache__/
*.pyc

node_modules/

.env

.DS_Store

logs/
*.log

venv/
*.0_x5
terraform/.terraform/providers/registry.terraform.io/hashicorp/google/5.32.0/darwin_amd64/LICENSE.txt
terraform/.terraform.lock.hcl
